@import url('https://fonts.googleapis.com/css?family=Poppins:500');
@import url('https://fonts.googleapis.com/css?family=Righteous');

* {
  outline: none;
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(to right, #00252A 0%, #000000 50%, #00252A 100%);
  color: #0094AA;
  font-family: 'Poppins', sans-serif;
  line-height: 120%;
}

main {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 148, 170, 0.1);
  margin-top: 30px;
}

header {
  margin-top: 6.5em;
  margin-left: auto;
  text-align: center;
}

h2 {
  font-family: 'Righteous', serif;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h2:first-of-type {
  margin-top: 10px;
}

h6 {
  display: inline-block;
  letter-spacing: 0px;
  margin-bottom: 10px;
}

footer {
  padding-bottom: 50px;
  text-align: center;
}

img {
  width: 70%;
  margin: auto;

}

ul {
  margin: 0;
}

li {
  list-style: none;
  padding-bottom: 6.5px;
  letter-spacing: -1px;
}

a {
  color: #4AE0F6;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

a:active {
  color: #000000;
}

a.nav {
  text-transform: uppercase;
}

footer {
  font-style: italic;
}
/* Box Model CSS */

#wrapper {
  width: 100%;
}
