@import url('https://fonts.googleapis.com/css?family=Orbitron|Sarpanch|Bubbler+One');
html {
  height: 100%;
}

.icons i:hover {
  color: rgba(255, 255, 255, 0.5);
}

.icons i:active {
  color: rgba(0, 0, 0, 0.5);
}


/*p.info {
  display: inline-block;
  width: 200px;
  margin: auto;
  padding: 15px;
  background-color: rgba(43, 48, 68, 0.5);
  border-radius: 5px;
  border: 2px solid rgba(43, 48, 68, 0.7);
  margin-bottom: 10px;
  font-family: Orbitron, sans-serif;
}


p.info:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

p.info:hover a {
  color: rgba(255, 255, 255, 1);
} */

a.info {
  display: inline-block;
  width: 200px;
  margin: auto;
  padding: 15px;
  background-color: rgba(43, 48, 68, 0.5);
  border-radius: 5px;
  border: 2px solid rgba(43, 48, 68, 0.7);
  margin-bottom: 10px;
  font-family: Orbitron, sans-serif;
  letter-spacing: 3px; 
}

a.info:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

a.info:hover {
  color: rgba(255, 255, 255, 1);
}
