/* CSS Meyer Reset -- START */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Meyer CSS Reset -- END */

/* Jake Newman DES 117: BLOG -- START */


* {
  outline: none;
}

body {
  background-color: #D0B594;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

header {
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  margin-top: 20px;
}

/* Home Page Formatting */

section {
  width: 313px;
  float: left;
  margin: 5px 5px 0px 5px;
  padding: 5px 5px 0px 5px;

  text-align: justify;
}

div {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 25px;
}

div.blogcontainer {
  text-align: center;
  width: 599px;
  margin: 2px 0px 10px 0px;
}

time {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 9pt;
  display: block;
  width: 100px;
  margin: auto;
  margin-bottom: 10px;
}

div.innerwrap {
  background: rgba(208, 181, 148, 0.8);
  margin: -22px;
}

main, header, footer {
  width: 1000px;
  margin: auto;
}

footer {
  clear: both;
}


/* Sidebar */
aside {
  width: 313px;
  float: left;
  margin: 5px;
  padding: 5px;
  text-align: justify;
}

.nav {
  background: none;
  width: 300px;
  height: 50px;
  margin: 2px 2px 4px 0px;
  padding: 5px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
}

.nav:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #D0B594;
  font-weight: bold;
}


/* Typeography */
h1 {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 100pt;
  margin: 30px 0px -20px 0px;
  padding: 0;
}

h2 {
  font-size: 15pt;
  margin: 10px 10px 25px 430px;
  font-variant: small-caps;
}

h3 {
  text-align: center;
  font-size: 40pt;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  display: block;
  padding-top: 15px;
  font-size: 15pt;
}

h1, h2 {
  text-align: center;
}

/* Internal Page Styling */

h3.blog {
  font-size: 80pt;
}

h1.internal {
  margin-top: 30px;
  padding-top: 0px;
}

h2.internal {
  display: block;
  margin-bottom: 35px;
  margin: 10px 10px 25px 335px;
}

.internal {
  text-align: right;
}


/* Clickables / Interactive -- Buttons and Links */
.readmore {
  width: 299px;
  height: 50px;
  margin: -5px 5px 30px 0px;
  border-radius: 15px;
  padding: 5px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  background: none;
}

.readmore:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #D0B594;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  width: 100px;
}

a:hover {
  color: #D0B594;
  font-weight: bold;
}

a.source:hover {
  color: #FFFFFF;
}

a.intext:hover {
  color: #FFFFFF;
  text-decoration: underline;
  font-weight: normal;
}

.linkwrap {
  float: left;
  background: none;
  width: 313px;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 20px;
}

div.foot {
  background-color: rgba(0, 0, 0, 0);
  border: solid 3px rgba(255, 255, 255, 0.2);
  clear: both;
  width: 980px;
  height: 30px;
  margin: auto;
  padding: 20px 0px 20px 0px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

div.foot:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #D0B594;
  border: 3px solid rgba(255, 255, 255, 0.2);
}

section.bottom {
  clear: both;
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}

img {
  width: 253px;
  height: 253px;
  display: inline-block;
  margin: 10px 0px 10px 5px;
}

img.blog {
  width: 60%;
  height: 60%;
  margin: auto;
  padding: 10px 0px 20px 0px;
}

figcaption.wharf {
  margin-top: -15px;
}


div.aside {
  background: none;
  padding: 0;
  margin: 0;
  float: left;
}

figcaption {
  font-size: 7pt;
  margin: -20px 0px 10px 0px;
  color: #808080;
  font-family: serif;
}

figcaption.muni {
  margin-top: -10px;
}

figcaption.map {
  margin-top: -13px;
}

.none {
  color: #FFFFFF;
}

header .none:hover {
  color: #FFFFFF;
}

.text {
  width: 380px;
  text-align: justify;
  margin: auto;
  line-height: 110%;
  padding: 0px 0px 20px 0px;
}

a p.small {
  font-size: 9pt;
  padding-top: 3px
}

p.validate {
  padding-top: 5px;
}
